@import "compass";
@import "variables";
@import "base";
@import "susy";
@import "modules";
@import "breakpoint";



.appContainer{
	 @include container;
  	//@include susy-grid-background;
  	
}
#segmentSection{

	

	#segmentContainer{
	padding-top: 1rem;
	padding-bottom: 3rem;

	#segmentHeader{

		color: #666666;
		text-align: center;
	}

	.segmentList{
		list-style: none;

	}
	.categoryDiv{
		@include columns(4);
		border-radius: 5px;
		background-color: #ffffff;
		box-shadow: 5px 5px 10px #888888;
		margin-bottom: 1rem;
		margin-top: 1rem;
			color: #3184b3;
		padding-left: 1rem;
					padding-right: 1rem;


		.categoryName{
			font-size: 1rem;

		}
		.segmentList{
			.segmentItem{
				border-bottom: 1px solid #aaaaaa;

				.segmentName{
					font-size: 0.8rem;
				
	
					.segmentCount{
					float: right;
					color: #cfca14;

					}
			}}
		}

		
	}
}

}
