@import "susy";


.conquestButton{
	@include omega;
	float: right;
	border-radius: 5px;
	background-color: #ff0000;
	width: columns(3,12);
	text-align: center;
	color: #f0eae7;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

	a{
		text-decoration: none;
		//&:after{
		//color: #ffffff;
		//}

	.buttonText{
	margin-top: 0px;
	font-size: 1rem;
	color: #ffffff;
	}

	}
}