@import "compass";
@import "variables";

@import "base";
@import "susy";
@import "breakpoint";

$ipodVertical		: 20em;
$ipodHorizontal		: 30em;
$ipadVertical		: 48em;
$ipadHorizontal		: 64em;
$macbookVertical	: 50em;
$macbookHorizontal	: 82em;