@import "compass";
@import "variables";

@import "base";
@import "susy";
@import "breakpoint";
//@import "layout";

$ipodVertical		: 20em;
$ipodHorizontal		: 30em;
$ipadVertical		: 48em;
$ipadHorizontal		: 64em;
$macbookVertical	: 50em;
$macbookHorizontal	: 80em;


//@include breakpoint($ipodVertical $ipodHorizontal){
//}

@include breakpoint($ipodVertical $ipadVertical){
.appContainer{
	 @include container;
  	//@include susy-grid-background;
  		}
#headerNav {
	height: 3rem;
	color: #3184b3;
	margin-top: 0rem;
	margin-bottom: -0.5rem;
	//#headerContainer{
	background-color: #ffffff;
	font-size: 0.5rem;
	.title{
		margin-left: 2rem;
	}
	.conquestButton{
	border-radius: 5px;
	background-color: #ff0000;
	width: columns(5,12);
	text-align: center;
	color: #f0eae7;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

		a{
	
					&:after{
					color: #ffffff;
					}
			
				.buttonText{
				margin-top: 0px;
				font-size: 0.5rem;
			
				}
				.buttonIcon{
					width: 1rem;
					height: 1rem;
				}
			
		}
	}
}
#sitePurpose{


	background-color: #0000ff;
	@include background(linear-gradient(bottom center, #276a90, #3185b4));
		padding-right: 2rem;


	#purposeContainer{
		height: 6rem;
		#summaryDiv{
			text-align: center;
			@include columns(8);
			margin-top: 1rem;
			.summaryText{

				color: #ffffff;
				font-size: 0.5rem;
			}
			#inMarket{
				color: #cfca14;
			}
		}
		#purposeImage{
			height: 4rem;
			float: right;
			margin-top: 1rem;
			
		}
	}
}
#odometerDiv{
	height: 4rem;
	background-color: #d4d4d4;
	text-align: center;
	color: #666666;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	#odometerHolder{


		.odometerText{
			font-size: 0.75rem;
		
		}
		.odometer{
			font-size: 1rem;
		}
	}
}
#segmentSection{
	padding-left: 1rem;
	padding-right: 1rem;
	#segmentContainer{
	padding-top: 1rem;
	padding-bottom: 3rem;
	
		#segmentHeader{
			font-size: 1rem;
			color: #666666;
			text-align: center;
		}

	
		.categoryDiv{
			@include columns(10);
			width: columns(12)!important;
			clear: both;
			min-height: 4rem!important;
			border-radius: 5px;
			background-color: #ffffff;
			box-shadow: 5px 5px 10px #888888;
			margin-bottom: 1rem;
			margin-top: 1rem;
			color: #3184b3;
			padding-left: 1rem;
			padding-right: 1rem;
	
	
			.categoryName{
				font-size: 1rem;
	
			}
			.segmentList{
				list-style: none;
				padding-left: 0rem;
	
				.segmentItem{
					border-bottom: 1px solid #aaaaaa;
	
					.segmentName{
						font-size: 0.8rem;
					
		
						.segmentCount{
						float: right;
						color: #cfca14;
	
						}
					}
				}
		}

		
		}
	}	
}
#footerDiv{
	height: 12rem;
	background-color: #133b55;
	padding-bottom: 0.5rem;
	padding: 1rem;



	#cityImage{
	@include columns(4);
	}

	

	#footerButton{
		float: right;
		margin-top: 2rem;
	}
	.conquestButton{
	border-radius: 5px;
	background-color: #ff0000;
	width: columns(5,12);
	text-align: center;
	color: #f0eae7;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

		a{

			&:after{
			//color: #f0eae7;
			}

				.buttonText{
				margin-top: 0px;
				font-size: 0.5rem;
				}
				.buttonIcon{
					width: 1rem;
					height: 1rem;
				}

		}
	}
}
// SIGNUPSTYLES--START
.segmentInstanceContainer{
	@include container;
	.segmentInstanceHeader{
		text-align: center;
		color: #3184b3;
				border-bottom: 1px solid #cccccc;
		.segmentInstanceName{
			font-size: 1rem;
		}
		.segmentInstanceGeofences{
			font-size: 0.5rem;


		}
		.segmentInstanceConquests{
			font-size: 0.5rem;

		}

	}
	.segmentInstanceLocationContainer{
		.segmentInstanceLocationHeader{
			text-align: center;
		}
	}
	.segmentInstanceInfoContainer{
		@include container;
				border-bottom: 1px solid #cccccc;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 2rem;
		margin-bottom: 1rem;
		.segmentInstanceLocation1{

		}
		.segmentInstanceInfoList{
			@include columns(12);

			.segmentInstanceListItem{
				border-bottom: 1px solid #cccccc;
				margin-top: 0.5rem;
				padding-bottom: 0.5rem;

				.segmentInstanceListIcon{
	
				}
	
				#segmentInstanceLocation2{
	
				}
				#segmentInstanceDMA{
	
				}
				#segmentInstanceDeviceCount{
	
				}
			}
		}
		.segmentInstanceImageContainer{
			@include columns(8);
			
			//@include omega;
			.segmentInstanceImage{
			//	float: right;
			margin: auto;

			}
		}
	}

	.segmentConquest{
		@include columns(12);
		.conquestButton{
		border-radius: 5px;
		background-color: #ff0000;
		width: columns(5,12);
		text-align: center;
		color: #f0eae7;
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		a{
	
					&:after{
					color: #f0eae7;
					}
			
				.buttonText{
				margin-top: 0px;
				font-size: 0.5rem;
			
				}
				.buttonIcon{
					width: 1rem;
					height: 1rem;
				}
			
		}
	}
		//button
		/*
		.conquestButton{
			float: right;

			.buttonText{

		}
			.buttonIcon{
			

		}

		}
		*/
		//-button
	}
}
.conquestPlannerContainer{
	 @include container;
	 .conquestPlannerHeaderDiv{
		color: #3184b3;
		text-align: center;
		border-bottom: 1px solid #aaaaaa;
		padding-bottom: 1rem;
		
	 	.conquestPlannerHeader{
	 	margin-bottom: 0.5rem;
	 	font-size: 1rem;


	 	}
	 	.conquestPlannerHeaderSub{
	  	margin-top: 0.5rem;
	  	font-weight: normal;
	  	font-size: 1rem;


	 	}
	 }
	 .segmentSelectorSection{
	 	@include container;
	 	// @include susy-grid-background;
	 	background-color: #f8f8f8;
	 	margin-bottom: 2rem;
	 	

	 	.selectableSegments{
	 		.signUpCategoryDiv{
	 			padding: 0.5rem;
	 			min-height: 10rem;

	 			@include columns(12);
	 			width: columns(12);
				clear: both;
	 			min-height: 4rem; 
	 			background-color: #ffffff;
	 			border: 1px solid #aaaaaa;
	 			border-radius: 5px;
	 			margin-bottom: 1rem;
	 			.signUpCategoryName{
	 				font-size: 1rem;


	 			}
	 			.signUpSegmentList{
	 				list-style-type: none;
	 				padding-left: 0rem;
	 				.signUpSegmentName{
	 					font-size: 0.8rem;
	 				}

	 			}
	 		}
	 	}
	 }
	 .suggestionDiv{
	 	border-top: 1px solid #aaaaaa;
	 	border-bottom: 1px solid #aaaaaa;
	 	margin-bottom: 2rem;
	 	padding-bottom: 1rem;


	 	.suggestionInstruction{

	 	}
	 	.suggestionInput{

	 	}
	 }

	 .actions{
	 	float: right;
	 }
}
// SIGNUPSTYLES--END

}




/////////////////////////////////////////////////
///-------------------///////
///////////////////////////////////
@include breakpoint($ipadVertical){

//segmentInstancesStart

.segmentInstanceContainer{
	@include container;
	.segmentInstanceHeader{
		text-align: center;
		color: #3184b3;
		border-bottom: 1px solid #cccccc;
		.segmentInstanceName{
			font-size: 2rem;
		}
		.segmentInstanceGeofences{
			font-size: 1rem;
		}
		.segmentInstanceConquests{
			font-size: 1rem;

		}

	}
	.segmentInstanceLocationContainer{
		.segmentInstanceLocationHeader{
			text-align: center;
		}
	}
	.segmentInstanceInfoContainer{
		@include container;
		border-bottom: 1px solid #cccccc;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 2rem;
		margin-bottom: 1rem;
		.segmentInstanceLocation1{

		}
		.segmentInstanceInfoList{
			@include columns(5);

			.segmentInstanceListItem{
				border-bottom: 1px solid #cccccc;
				margin-top: 0.5rem;
				padding-bottom: 0.5rem;

				.segmentInstanceListIcon{
	
				}
	
				#segmentInstanceLocation2{
	
				}
				#segmentInstanceDMA{
	
				}
				#segmentInstanceDeviceCount{
	
				}
			}
		}
		.segmentInstanceImageContainer{
			@include columns(5);
			@include omega;
			.segmentInstanceImage{
				float: right;

			}
		
	}

	.segmentConquest{
		@include columns(12);
		.conquestButton{
			float: right;
			width: columns(5);

			.buttonText{

		}
			.buttonIcon{
			

		}

		}
		
	}
}
}
//segemntINstancesEnd

//ConquestPlannerStart

.conquestPlannerContainer{
	 @include container;
	 .conquestPlannerHeaderDiv{
		color: #3184b3;
		text-align: center;
		border-bottom: 1px solid #aaaaaa;
		padding-bottom: 1rem;
		

	 	.conquestPlannerHeader{
	 	margin-bottom: 0.5rem;
	 	font-size: 2rem;


	 	}
	 	.conquestPlannerHeaderSub{
	  	margin-top: 0.5rem;
	  	font-weight: normal;
	  	font-size: 2rem;


	 	}
	 }
	 .segmentSelectorSection{
	 	@include container;
	 	// @include susy-grid-background;
	 	background-color: #f8f8f8;
	 	margin-bottom: 2rem;
	 	

	 	.selectableSegments{
	 		.signUpCategoryDiv{
	 			padding: 0.5rem;
	 			min-height: 10rem;

	 			@include columns(2.7);
	 			width: columns(2.7);
				clear: none;
	 			background-color: #ffffff;
	 			border: 1px solid #aaaaaa;
	 			border-radius: 5px;
	 			margin-bottom: 1rem;
	 			.signUpCategoryName{
	 				font-size: 1rem;


	 			}
	 			.signUpSegmentList{
	 				list-style-type: none;
	 				padding-left: 0rem;
	 				.signUpSegmentName{
	 					font-size: 0.8rem;
	 				}

	 			}
	 		}
	 	}
	 }
	 .suggestionDiv{
	 	border-top: 1px solid #aaaaaa;
	 	border-bottom: 1px solid #aaaaaa;
	 	margin-bottom: 2rem;
	 	padding-bottom: 1rem;


	 	.suggestionInstruction{

	 	}
	 	.suggestionInput{

	 	}
	 }

	 .actions{
	 	float: right;
	 }
}
//conquestPlannerEnd

}
/////////////////////////////////////////////////
///-------------------///////
///////////////////////////////////
@include breakpoint($ipadHorizontal $macbookHorizontal){
	/*
.appContainer{
	 @include container;
  	//@include susy-grid-background;
  		}
#headerNav {
	height: 3rem;
	color: #3184b3;
	margin-top: 0rem;
	margin-bottom: -0.5rem;
	//#headerContainer{
	background-color: #ffffff;
	font-size: 0.5rem;
	.title{
		margin-left: 2rem;
	}
	.conquestButton{
	border-radius: 5px;
	background-color: #ff0000;
	width: columns(5,12);
	text-align: center;
	color: #f0eae7;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

		a{
	
					&:after{
					color: #f0eae7;
					}
			
				.buttonText{
				margin-top: 0px;
				font-size: 0.5rem;
			
				}
				.buttonIcon{
					width: 1rem;
					height: 1rem;
				}
			
		}
	}
}
#sitePurpose{


	background-color: #0000ff;
	@include background(linear-gradient(bottom center, #276a90, #3185b4));
		padding-right: 2rem;


	#purposeContainer{
		height: 6rem;
		#summaryDiv{
			text-align: center;
			@include columns(8);
			margin-top: 1rem;
			.summaryText{

				color: #ffffff;
				font-size: 0.5rem;
			}
			#inMarket{
				color: #cfca14;
			}
		}
		#purposeImage{
			height: 4rem;
			float: right;
			margin-top: 1rem;
			
		}
	}
}
#odometerDiv{
	height: 4rem;
	background-color: #d4d4d4;
	text-align: center;
	color: #666666;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	#odometerHolder{


		.odometerText{
			font-size: 0.75rem;
		
		}
		.odometer{
			font-size: 1rem;
		}
	}
}
#segmentSection{
	padding-left: 1rem;
	padding-right: 1rem;
	#segmentContainer{
	padding-top: 1rem;
	padding-bottom: 3rem;
	
		#segmentHeader{
			font-size: 1rem;
			color: #666666;
			text-align: center;
		}

	
		.categoryDiv{
			@include columns(10);
			width: columns(12)!important;
			clear: both;
			min-height: 4rem!important;
			border-radius: 5px;
			background-color: #ffffff;
			box-shadow: 5px 5px 10px #888888;
			margin-bottom: 1rem;
			margin-top: 1rem;
			color: #3184b3;
			padding-left: 1rem;
			padding-right: 1rem;
	
	
			.categoryName{
				font-size: 1rem;
	
			}
			.segmentList{
				list-style: none;
				padding-left: 0rem;
	
				.segmentItem{
					border-bottom: 1px solid #aaaaaa;
	
					.segmentName{
						font-size: 0.8rem;
					
		
						.segmentCount{
						float: right;
						color: #cfca14;
	
						}
					}
				}
		}

		
		}
	}	
}
#footerDiv{
	height: 12rem;
	background-color: #133b55;
	padding-bottom: 0.5rem;
	padding: 1rem;



	#cityImage{
	@include columns(4);
	}

	#footerButton{
		float: right;
		margin-top: 2rem;
	}
	.conquestButton{
	border-radius: 5px;
	background-color: #ff0000;
	width: columns(5,12);
	text-align: center;
	color: #f0eae7;
	padding-left: 0.5rem;
	padding-right: 0.5rem;

		a{

			&:after{
			color: #f0eae7;
			}

				.buttonText{
				margin-top: 0px;
				font-size: 0.5rem;
				}
				.buttonIcon{
					width: 1rem;
					height: 1rem;
				}

		}
	}
}
// SIGNUPSTYLES--START
.segmentInstanceContainer{
	@include container;
	.segmentInstanceHeader{
		text-align: center;
		color: #3184b3;
		border-bottom: 1px solid #aaaaaa;
		.segmentInstanceName{

		}
		.segmentInstanceGeofences{

		}
		.segmentInstanceConquests{

		}

	}
	.segmentInstanceLocationContainer{
		.segmentInstanceLocationHeader{
			text-align: center;
		}
	}
	.segmentInstanceInfoContainer{
		@include container;
		border-bottom: 1px solid #aaaaaa;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 2rem;
		margin-bottom: 1rem;
		.segmentInstanceLocation1{

		}
		.segmentInstanceInfoList{
			@include columns(5);

			.segmentInstanceListItem{
				border-bottom: 1px solid #aaaaaa;
				margin-top: 0.5rem;
				padding-bottom: 0.5rem;

				.segmentInstanceListIcon{
	
				}
	
				#segmentInstanceLocation2{
	
				}
				#segmentInstanceDMA{
	
				}
				#segmentInstanceDeviceCount{
	
				}
			}
		}
		.segmentInstanceImageContainer{
			@include columns(5);
			@include omega;
			.segmentInstanceImage{
				float: right;

			}
		}
	}

	.segmentConquest{
		@include columns(12);
		.conquestButton{
			float: right;

			.buttonText{

		}
			.buttonIcon{
			

		}

		}
		
	}
}
.conquestPlannerContainer{
	 @include container;
	 .conquestPlannerHeaderDiv{
		color: #3184b3;
		text-align: center;
		border-bottom: 1px solid #aaaaaa;
		padding-bottom: 1rem;
	 	.conquestPlannerHeader{
	 	margin-bottom: 0.5rem;
	 	font-size: 1rem;


	 	}
	 	.conquestPlannerHeaderSub{
	  	margin-top: 0.5rem;
	  	font-weight: normal;


	 	}
	 }
	 .segmentSelectorSection{
	 	@include container;
	 	// @include susy-grid-background;
	 	background-color: #f8f8f8;
	 	margin-bottom: 2rem;
	 	

	 	.selectableSegments{
	 		.signUpCategoryDiv{
	 			padding: 0.5rem;
	 			min-height: 10rem;

	 			@include columns(2.7);
	 			width: columns(2.7);
				clear: none;
	 			//width: columns(2.7);
	 			//clear: none;
	 			background-color: #ffffff;
	 			border: 1px solid #aaaaaa;
	 			border-radius: 5px;
	 			margin-bottom: 1rem;
	 			.signUpCategoryName{
	 				font-size: 1rem;


	 			}
	 			.signUpSegmentList{
	 				list-style-type: none;
	 				padding-left: 0rem;
	 				.signUpSegmentName{
	 					font-size: 0.8rem;
	 				}

	 			}
	 		}
	 	}
	 }
	 .suggestionDiv{
	 	border-top: 1px solid #aaaaaa;
	 	border-bottom: 1px solid #aaaaaa;
	 	margin-bottom: 2rem;
	 	padding-bottom: 1rem;


	 	.suggestionInstruction{

	 	}
	 	.suggestionInput{

	 	}
	 }

	 .actions{
	 	float: right;
	 }
}
// SIGNUPSTYLES--END
*/

}





