// Place all the styles related to the Conquest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "sass/screen";


body{
	margin: 0px;
}
h1{
	font-family: $accentFont;
}
h2{
	font-family: $headerFont;
}

h3,p{
	font-family: $contentFont;
}

.siteDiv{
	margin: -1rem;

}


#headerNav {
	height: 5rem;
	color: #3184b3;
	margin-top: 0rem;
	margin-bottom: -2rem;
	//#headerContainer{
	background-color: #ffffff;
//	}
	


	#headerButton{
		float: right;
	}
}

#sitePurpose{


	background-color: #0000ff;
	@include background(linear-gradient(bottom center, #276a90, #3185b4));


	#purposeContainer{
		height: 22rem;
		#summaryDiv{
			text-align: center;
			@include columns(6);
			margin-top: 6rem;
			.summaryText{

				color: #ffffff;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
				font-size: 2rem;
			}
			#inMarket{
				color: #cfca14;
			}
		}
		#purposeImage{
			height: 20rem;
			float: right;
			margin-top: 2rem;
			
		}
	}
}
#odometerDiv{
	height: 10rem;
	background-color: #d4d4d4;
	text-align: center;
	color: #666666;

	#odometerHolder{


		.odometerText{
		
		}
		.odometer{
			font-size: 3rem;
		}
	}
}

///////// segmentsStart

.appContainer{
	 @include container;
  	//@include susy-grid-background;
  	
}
#segmentSection{
	#segmentContainer{
	//@include susy-grid-background;
	padding-top: 1rem;
	padding-bottom: 3rem;

	#segmentHeader{

		color: #666666;
		text-align: center;
	}

	
	.categoryDiv{
		@include columns(3.5);
		min-height: 10rem;
		border-radius: 5px;
		background-color: #ffffff;
		box-shadow: 5px 5px 10px #888888;
		margin-bottom: 1rem;
		margin-top: 1rem;
		color: #3184b3;
		padding-left: 1rem;
		padding-right: 1rem;


		.categoryName{
			font-size: 1rem;

		}
		.segmentList{
			list-style: none;
			padding-left: 0rem;

			.segmentItem{
				border-bottom: 1px solid #aaaaaa;

				.segmentName{
					font-size: 0.8rem;
					a{
						text-decoration: none;

					}
				
	
					.segmentCount{
					float: right;
					color: #cfca14;

					}
				}
			}
		}
		.categoryLink{
			float: right;
			a{
				text-decoration: none;
			}
		}

		
	}

	.featuredCategoryDiv{
		@include columns(7.5);
		min-height: 22rem;
		border-radius: 5px;
		background-color: #ffffff;
		box-shadow: 5px 5px 10px #888888;
		margin-bottom: 1rem;
		margin-top: 1rem;
		color: #3184b3;
		padding-left: 1rem;
		padding-right: 1rem;
		//background-size: cover;
		.featuredFlag{
			max-width: columns(2);
		}


		.featuredCategoryName{
			font-size: 1rem;

		}
		.featuredSegmentList{
			list-style: none;
			padding-left: 0rem;

			.featuredSegmentItem{
				border-bottom: 1px solid #aaaaaa;

				.featuredCSegmentName{
					font-size: 0.8rem;
					a{
						text-decoration: none;

					}
				
	
					.featuredSegmentCount{
					float: right;
					color: #cfca14;

					}
				}
			}
		}
		.categoryLink{
			float: right;
			a{
				text-decoration: none;
			}
		}

		
	}
}

}

.segmentInstanceContainer{
	@include container;
	.segmentInstanceHeader{
		text-align: center;
		color: #3184b3;
		border-bottom: 1px solid #eeeeee;
		.segmentInstanceName{

		}
		.segmentInstanceGeofences{

		}
		.segmentInstanceConquests{

		}

	}
	.segmentInstanceLocationContainer{
		.segmentInstanceLocationHeader{
			text-align: center;
		}
	}
	.segmentInstanceInfoContainer{
		@include container;
		border-bottom: 1px solid #eeeeee;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 2rem;
		margin-bottom: 1rem;
		.segmentInstanceLocation1{

		}
		.segmentInstanceInfoList{
			@include columns(5);
			list-style-type: none;

			.segmentInstanceListItem{
				border-bottom: 1px solid #eeeeee;
				margin-top: 0.5rem;
				padding-bottom: 0.5rem;
				.segmentListText{
					margin-left: 2rem;
					
				}

				.segmentInstanceListIcon{
	
				}
	
				#segmentInstanceLocation2{
	
				}
				#segmentInstanceDMA{
	
				}
				#segmentInstanceDeviceCount{
	
				}
			}
		}
		.segmentInstanceImageContainer{
			@include columns(5);
			@include omega;
			.segmentInstanceImage{
				float: right;

			}
		}
	}

	.segmentConquest{
		@include columns(12);
		.conquestButton{
			float: right;
			a{
				text-decoration: none;

					}

			.buttonText{

		}
			.buttonIcon{
			

		}

		}
		
	}
}



.conquestPlannerContainer{
	 @include container;
	 .conquestPlannerHeaderDiv{
		color: #3184b3;
		text-align: center;
		border-bottom: 1px solid #aaaaaa;
		padding-bottom: 1rem;
	 	.conquestPlannerHeader{
	 	margin-bottom: 0.5rem;
	 	font-size: 2rem;
	 	
	 }
	 	.conquestPlannerHeaderSub{
	  	margin-top: 0.5rem;
	  	font-weight: normal;


	 	}
	 }

	 .segmentSelectorSection{
	 	@include container;
	 	// @include susy-grid-background;
	 	background-color: #f8f8f8;
	 	margin-bottom: 2rem;
	 	

	 	.selectableSegments{
	 		.signUpCategoryDiv{
	 			padding: 0.5rem;
	 			min-height: 10rem;

	 			@include columns(2.7);
	 			width: columns(2.7);
	 			//clear: none;
	 			background-color: #ffffff;
	 			border: 1px solid #aaaaaa;
	 			border-radius: 5px;
	 			margin-bottom: 1rem;
	 			.signUpCategoryName{
	 				font-size: 1rem;


	 			}
	 			.signUpSegmentList{
	 				list-style-type: none;
	 				padding-left: 0rem;
	 				.signUpSegmentName{
	 					font-size: 0.8rem;

	 				}

	 			}
	 		}
	 		.signUpEntry{
	 			font-size: 0.75rem;
	 			color: #888888;
	 			font-family: $contentFont;

	 		}

	 	}
	 }
	 .suggestionDiv{
	 	border-top: 1px solid #aaaaaa;
	 	border-bottom: 1px solid #aaaaaa;
	 	margin-bottom: 2rem;
	 	padding-bottom: 1rem;
	 	@include container;


		.instructionHolder{
			@include columns(7);
			//width: columns(4);

	 	.suggestionInstruction{
	 		//@include columns(4);
			//width: columns(4);
	 		

	 	}
	 }
	 	#suggestionField{
	 		@include columns(5);
	 		@include omega;
	 		font-family: $contentFont;
	 		margin-top: 2rem;

	 		.suggestionInput{

	 		 		//margin-top: 2rem;
					font-size: 1rem;
					.suggestionText{
						clear: right;
						height: 2rem;
						width: 100%;
						border: 1px solid #cccccc;
						border-radius: 5px;
					}

	 		 	}
	 		 }
	 }

	 .actions{
	 	float: right;
	 	.submitButton{
	 		@include columns(12);
			 border-radius: 5px;
			background-color: #ff0000;
			//width: 75%;
			border: none;

			font-size: 1rem;
			text-align: center;
			color: #ffffff;
			padding-bottom: 0.5rem;
			padding-top: 0.5rem;
			padding-left: 1rem;
			padding-right: 1rem;

	 	}

	 }

}



///////// segmentsEnd



#footerDiv{
	height: 12.5rem;
	background-color: #133b55;
	padding-bottom: 2rem;
	
	#cityImage{
	@include columns(4);
	}
.footerFloat{
		float: right;
		.command{
			font-size: 1.5rem;
			font-weight: 400;
			text-align: right;
			margin-right: 0.25rem;
			color: #ffffff;

		}

		#footerButton{
		//float: right;
			width: 75%;
		}
		 .copyright{
		 	@include omega;
		 	color: #cccccc;
		 	margin-top: 5rem;

		 }
	}
	
}



