// Place all the styles related to the Conquest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "sass/screen";

body{
	margin: 0px;
}
h1{
	font-family: $accentFont;
}
h2{
	font-family: $headerFont;
}

h3,p{
	font-family: $contentFont;
}

.siteDiv{
	margin: -1rem;

}


#headerNav {
	height: 5rem;
	color: #3184b3;
	margin-top: 0rem;
	margin-bottom: -2rem;
	//#headerContainer{
	background-color: #ffffff;
//	}
	


	#headerButton{
		float: right;
	}
}

#sitePurpose{


	background-color: #0000ff;
	@include background(linear-gradient(bottom center, #276a90, #3185b4));


	#purposeContainer{
		height: 22rem;
		#summaryDiv{
			text-align: center;
			@include columns(6);
			margin-top: 6rem;
			.summaryText{

				color: #ffffff;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
				font-size: 2rem;
			}
			#inMarket{
				color: #cfca14;
			}
		}
		#purposeImage{
			height: 20rem;
			float: right;
			margin-top: 2rem;
			
		}
	}
}
#odometerDiv{
	height: 10rem;
	background-color: #d4d4d4;
	text-align: center;
	color: #666666;

	#odometerHolder{


		.odometerText{
		
		}
		.odometer{
			font-size: 3rem;
		}
	}
}



#footerDiv{
	height: 12.5rem;
	background-color: #133b55;
	padding-bottom: 2rem;



	#cityImage{
	@include columns(4);
}

	#footerButton{
		float: right;
	}
}



